.dropzone-box {
  height: calc(100% - 56px);
  border-radius: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dropzone-box.preview {
  border: none;
}

.graphic-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 640px;
  min-height: 320px;
}

.graphic-wrapper.preview {
  background: transparent;
}

.dnd-area {
  pointer-events: none;
  opacity: 0.6;
  text-align: center;
}

.non-draggable {
  position: absolute !important;
  z-index: 99;
  top: 5px;
}

.settings-icon {
  right: 45px;
}

.delete-icon {
  right: 5px;
}